# eclipse
bin
*.launch
.settings
.metadata
.classpath
.project

# idea
out
*.ipr
*.iws
*.iml
.idea

# gradle
build
.gradle

# other
eclipse
run

# Files from Forge MDK
forge*changelog.txt
/CHANGELOG.txt
/update_template.json
/potion_color_swatches.png
/templates/
/run/*
/zine/
/run-data/
/debugging_tools/
/debug/